* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown {
    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}

nav {
    width: 80%;
    margin: auto;

    a {
        color: black;

        &:hover {
            color: red;
        }
    }

    .navbar-collapse {
        justify-content: center;
        gap: 80px;

        .navbar-nav {
            .nav-item {
                gap: 15px;
            }
        }
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    a {
        color: black;

        &:hover {
            color: red;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    #new-select {
        .col-8 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .new-select-cart {
            h1 {
                color: #0B1C39;
                font-size: 70px;
                font-weight: 700;
            }

            button {
                padding: 10px 20px;
                border: none;
                background-color: gray;
                color: #fff;
                transition-duration: .5s;

                &:hover {
                    background-color: red;
                }
            }
        }

        .new-select-img {
            img {
                width: 250px;
            }
        }
    }

    #arrivals{
        .arrivals-cart{
            text-align: center;
            span{
                color: red;
            }
            img{
                width: 100%;
            }
        }
    }

    #product-sec{
        .product-sec-head{
            text-align: center;
            width: 55%;
            margin: auto;
            h3{
                font-weight: 700;
            }
            p{
                color: gray;
            }
        }
        .search-box{
            width: 35%;
            margin: auto;
            button{
                padding: 5px 20px;
            }
        }
        img{
            width: 100%;
        }
    }
}



















@media only screen and (max-width:790px) {
    main {
        #new-select {
            .new-select-cart {
                h1 {
                    font-size: 45px;
                }
            }

            .new-select-img {
                img {
                    width: 120px;
                }
            }
        }
        #arrivals{
            .arrivals-cart{
                h3{
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width:496px) {
    main {
        #new-select {
            .new-select-cart {
                h1 {
                    font-size: 35px;
                }
            }

            .new-select-img {
                img {
                    width: 100px;
                }
            }
        }
    }
}

@media only screen and (max-width:356px) {
    main {
        #new-select {
            .new-select-img {
                img {
                    width: 80px;
                }
            }
        }
        #product{
            img{
                width: 230px;
            }
        }
    }
}